@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto';
}

body {
    margin: 0;
}

/* vvvv NAVBAR vvvv */
.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: #F9FaF8;
    align-items: center;
}

.header-buttons {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
}

.header-buttons li {
    list-style: none;
}

.header-buttons a {
   text-decoration: none; 
   color: #F9FaF8;
   font-size: 18px;
}
/* ^^^^ NAVBAR ^^^^ */


/* vvvv BOX 1 vvvv */
.box-1 {
    background-color: #1F2937; 
    color: #F9FaF8;
    display: flex;
    padding-left: 15%;
    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0;
}

.slogan {
    font-size: 48px;
    font-weight: bolder;
}


.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 6rem;
    border: none;
    padding: 10px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FaF8;
    font-weight: bold;
    cursor: pointer;
}

.placeholder-img {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.placeholder-img img {
    border-radius: 50px;
    scale: 55%;
}
/* ^^^^ BOX 1 ^^^^ */


/* vvvv BOX 2 vvvv */
.box-2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px; /* NOT SURE IF I WANT TO KEEP THIS HERE TBH */
}

.box-2 p {
    width: 40%;
    text-align: center;
}

.small-header {
    text-align: center;
    font-weight: bolder;
    padding: 30px;
}

.four-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.column1, .column2, .column3, .column4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1, .box2, .box3, .box4 {
    width: 200px;
    height: 200px;
    border: 3px #3882F6 solid;
    border-radius: 10px;
}
/* ^^^^ BOX 2 ^^^^ */


/* vvvv BOX 3 vvvv */

/* ^^^^ BOX 3 ^^^^ */


/* vvvv BOX 4 vvvv */

/* ^^^^ BOX 4 ^^^^ */


/* vvvv FOOTER vvvv */

/* ^^^^ FOOTER ^^^^ */