body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: lightgrey;
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: none;
    width: 40rem;  
    height: 40rem;
}


/* -------- FROM JS FILE -------- */
.grid-item {
    background-color: white;
    /* border: 1px solid black; */
    width: 100%; /* This does not mean that it will fit 100% to the page. Instead, it just fills 100% of the .container class that it is nested in. */
    height: 100%;
}
